body {
  font-family: Helvetica;
  color: black;
  text-align: center;
}

.bg-img {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: contain;
  height:auto;
}

.front-title {
  font-size:70px;
  font-weight: bold;
  color: white;
}

nav link {
  font-size: 18px;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 12px;
  font-weight: bold;
}

.white-bg {
  background-color: white;
}

.designed_in_title {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer-menu {
  display: inline-block;
  margin: 10px;
}

footer {
  background-color: dimgray;
}

footer .copyright {
  font-size: 11px;
}
